body{

margin:0;

font-family:Arial;

background:linear-gradient(135deg,#1e1b4b,#9333ea);

height:100vh;

overflow:hidden;

color:white;

text-align:center;

}

/* estrellas */

.estrellas{

position:fixed;

width:100%;

height:100%;

background-image:radial-gradient(white 1px,transparent 1px);

background-size:40px 40px;

animation:moverEstrellas 60s linear infinite;

opacity:0.4;

}

@keyframes moverEstrellas{

from{transform:translateY(0)}

to{transform:translateY(-1000px)}

}

.app{

position:relative;

top:50%;

transform:translateY(-50%);

width:90%;

max-width:420px;

margin:auto;

background:rgba(255,255,255,0.1);

padding:30px;

border-radius:20px;

backdrop-filter:blur(10px);

}

/* nombre animado */

.nombre{

animation:brillo 2s infinite alternate;

}

@keyframes brillo{

from{color:#fff}

to{color:#e9d5ff}

}

/* sobre */

.sobre{

margin-top:30px;

width:240px;

height:140px;

background:#7e22ce;

margin-left:auto;

margin-right:auto;

position:relative;

cursor:pointer;

border-radius:10px;

overflow:visible;

}

.tapa{

position:absolute;

width:100%;

height:100%;

background:#9333ea;

clip-path:polygon(0 0,50% 60%,100% 0);

transform-origin:top;

transition:1s;

}

/* carta */

.carta{

position:absolute;

top:30px;

left:15px;

right:15px;

background:white;

color:black;

padding:15px;

border-radius:10px;

font-size:14px;

transform:translateY(40px);

transition:1s;

}

.abierto .tapa{

transform:rotateX(180deg);

}

.abierto .carta{

transform:translateY(-80px);

}

/* botón */

button{

margin-top:30px;

padding:15px;

font-size:18px;

background:#9333ea;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}

/* corazones */

.corazon{

position:fixed;

animation:flotar 6s linear infinite;

pointer-events:none;

}

@keyframes flotar{

0%{transform:translateY(0)}

100%{transform:translateY(-900px)}

}

/* mensaje final */

#final{

margin-top:20px;

font-size:18px;

animation:brilloTexto 2s infinite alternate;

}

@keyframes brilloTexto{

from{color:white}

to{color:#f0abfc}

}